<div class="container" id="job-view-container">
    <div class="row text-center">
        <a class="back-link main-color btn btn-danger" href="/">
            <i class="gg-arrow-left-o"></i> Back
        </a>
        <div id="img-container" class="col-md-12">
            <img src="/img/company.svg" alt="Company image">
        </div>
        <div class="col-md-12">
            <h1 class="main-color">{{ job.dataValues.title }}</h1>
            <p class="font-weight-bold">Who they are looking for:</p>
            <p class="job-desc">{{ job.dataValues.description }}</p>
            <p>The salary is: <span class="font-weight-bold">R${{ job.dataValues.salary }}</span></p>
            <p>
                To work at <span class="font-weight-bold main-color">{{ job.dataValues.company }}</span>.
                <br/>Send an email to: <a href="mailto:{{ job.dataValues.email }}" class="main-color">{{ job.dataValues.email }}</a>
            </p>
        </div>
    </div>
</div>